# Environments
.env
.venv
env/
venv/
envbackend/

# Python
__pycache__/
*.pyc

# Node
node_modules/
frontend/my-app/build/
frontend/my-app/package-lock.json

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Keys and Secrets
/backend/keys/
/backend-python/keys/
backend-python/keys/firebase-key.json
database_config.env
database/exports/users_export_20251015_130821.json
database/exports/consultation_sessions_export_20251015_134243.json
database/exports/consultation_sessions_export_20251015_134830.json
database/backups/polycon_production_backup_20251015_142307.sql
database/backups/polycon_production_backup_20251015_143053.sql
database/backups/polycon_production_backup_20251015_144045.sql
database/backups/polycon_production_backup_20251015_144943.sql
database/backups/polycon_production_backup_20251015_152358.sql
database/exports/bookings_export_20251015_140139.json
database/exports/bookings_export_20251015_140704.json
database/exports/concern_categories_export_20251015_140214.json
database/exports/concern_categories_export_20251015_140738.json
database/exports/consultation_sessions_export_20251015_140144.json
database/exports/consultation_sessions_export_20251015_140709.json
database/exports/courses_export_20251015_140159.json
database/exports/courses_export_20251015_140723.json
database/exports/departments_export_20251015_140114.json
database/exports/departments_export_20251015_140640.json
database/exports/faculty_export_20251015_140154.json
database/exports/faculty_export_20251015_140719.json
database/exports/grades_export_20251015_140204.json
database/exports/grades_export_20251015_140728.json
database/exports/notifications_export_20251015_140230.json
database/exports/notifications_export_20251015_140755.json
database/exports/periods_export_20251015_140124.json
database/exports/periods_export_20251015_140649.json
database/exports/programs_export_20251015_140129.json
database/exports/programs_export_20251015_140654.json
database/exports/semesters_export_20251015_140134.json
database/exports/semesters_export_20251015_140659.json
database/exports/students_export_20251015_140149.json
database/exports/students_export_20251015_140714.json
database/exports/teacher_schedules_export_20251015_140209.json
database/exports/teacher_schedules_export_20251015_140733.json
database/exports/users_export_20251015_140109.json
database/exports/users_export_20251015_140634.json
database/exports/venues_export_20251015_140119.json
database/exports/venues_export_20251015_140644.json
