node_modules
*.env
.venv
env
venv
/backend/keys/
/.venv/
backend-python/.env
backend-python/.env
backend-python/.env
/backend-python/routes/__pycache__
*.json
*.pyc
/backend-python/services/__pycache__
*.json
*.json
frontend/my-app/package-lock.json
frontend/my-app/package.json
docker-compose.yml
backend-python/Dockerfile
