node_modules
*.env
.venv
env
venv
/backend/keys/
/.venv/
backend-python/.env
backend-python/.env
backend-python/.env
/backend-python/routes/__pycache__
*.json
*.pyc
/backend-python/services/__pycache__
