<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^favicon\.ico$ /Polycon\ Icons/favicon.ico [L]
</IfModule>
