table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.378rem;      
}
thead tr:first-child th:first-child {
    border-top-left-radius: 0.7rem;;
}
thead tr:first-child th:last-child {
    border-top-right-radius: 0.7rem;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.7rem;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.7rem;
}
thead th {
    border-color: #0065A8;
}
tbody td{
    overflow-y: auto;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

