Flask
flask-cors
google-cloud-storage
google-cloud-speech
firebase-admin
google-generativeai
python-dotenv
assemblyai
pydub
pyrebase4
pycryptodome
bcrypt
setuptools
flask-socketio
eventlet
Pillow
gunicorn
apscheduler
pytz
celery
redis
gevent